<!-- <mat-slider min='1' max='100' step='1' value='1'></mat-slider> -->
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="sideNavStyle text-center" style="padding-top:2%" mode="side">
    <!-- <p>Auto-resizing sidenav</p> -->
    <a href="/dashboard" class='btn btn-primary'>Home</a>
    <hr/>
    <a href="#" class='btn btn-danger'>Update info</a>
  </mat-drawer>

  <!-- <div class="example-sidenav-content">
    <button type="button" class="btn btn-success" mat-icon-button >
      Menu
    </button>
  </div> -->

  <mat-toolbar class="text-center toolbarStyle">
  <button mat-icon-button class="example-icon mr-auto" class="btn btn-success" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <div style="padding:2%">Angular Material tutorial</div>
</mat-toolbar>

<router-outlet></router-outlet>

</mat-drawer-container>