.example-container {
    height:100%;
    width:100%;
    flex: 1 1 auto;
}

.sideNavStyle {
    width:10%;
    background-color:lightskyblue;
}

.toolbarStyle {
    background-color: darkorange;
    color:white;
}